/* Begin Sticky Footer */
/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height */
}

main {
    border-radius: 4px;
    margin-top: .25em;
    margin-bottom: .25em;
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    text-align:center;
    padding:5px;
  border-radius:4px;
  margin-top: 0px;
}
/* End Sticky Footer */

/* begin general styles for site */
footer #footer-copyright {
  text-align: center;     
}

ul.errors {
    color:red;
    margin:0;
    margin-top:5px;
    padding:0;
    list-style-type:none;
}

.clear-all {
  clear:both;
}

.flash_message {
  width:35%;
  margin-right:auto;
  margin-left:auto;
  display:block;
  text-align:center;
  padding:5px;
  border-radius: 5px;
  background-color:#D66100;
  color:white;
}

/* overload of bootstrap style */
.navbar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}


/****************************************
  KPI BAR 
***************************************/

.kpi-bar {
  background-color: #222222;
  border-top-color: #4F7A30;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.kpi-bar .kpi-total-save {
  color: #617992;
}

.kpi-bar-blank {
  height:14px;
}

.kpi-global-total-save {
  float:right;
  color: #617992;
}

/****************************************
  HOME 
***************************************/
.home-intro-incentives {
  margin: auto;
  width: 75%;
}

.home-intro-who {
  border-radius: 4px;
  border: solid 1px;
  padding-left: .5em;
  padding-right: .5em;
  width: 75%;
  margin: auto;
}

.home-buttons {
  padding-left: 100px;
}

.home-register-button {
  width: 100px;
  background-color: blue;
  margin: 2em;
}

.home-login-button {
  width: 100px;
  background-color: green;
  margin: 2em;
}

.carton-reverse-img {
  background-image: url(/img/cartonReverse.svg);
  height:300px;
  background-size: 40%;
  background-repeat: no-repeat;
  margin-top: 2em;
}
.peeps-img {
  background-image: url(/img/peeps.svg);
  height:100px;
  background-repeat: no-repeat;
  float:left;
}

/****************************************
  INSTRUCTIONS 
***************************************/

.instruction-intro {
  border-radius: 4px;
  border: solid 1px;
  padding:1em;
  margin-top:.25em;
  margin-bottom: .25em;
}

.instruction-intro h2 {
  margin:0;
}

.instructions-buttons {
  border-radius: 4px;
  border: solid 1px;
  background-color: white;
  padding:.25em;
  float:right;
}

.instructions-settings-button {
  width: 150px;
  background-color: orange;
}

.instructions-gameboard-button {
  width: 150px;
  background-color: green;
  margin-top:1em;
}


/****************************************
  GAMEBOARD 
***************************************/

.game-board-intro {
  border-radius: 4px;
  border: solid 1px;
  padding:.25em;
}

.game-board-section-mc {
  margin-top: .25em;
  border-radius: 4px;
  border: solid 2px white;
  padding-left:1em;
  padding-right:1em;
  padding-bottom: .5em;
}

.game-board-date-select {
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.game-board-add-grocery-run .btn-primary {
  float:right;
  background-color: green;
}

.game-board-select-dt {
  line-height: 34px;
}

.game-board-input-label {
  margin-top:.25em;
  margin-bottom:.25em;
}

.game-board-input {
  margin-top:.25em;
  margin-bottom:.25em;
  padding-left:50px;
}


.game-board-add-button {
  float:right;
  background-color: green;
}

.game-board-grid {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: solid 1px;
  padding-left: .25em;
  padding-right: .25em;
  padding-bottom: 1em;
}

.game-board-grocery-run-metrics {
  margin-top: 0;
  margin-bottom:0;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 7px;
  background-color: #C8CACB;
}

.game-board-grocery-run-metrics-empty {
  margin-top: 0;
  margin-bottom:0;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 7px;
  background-color: #C33F15;
  color:white;
}

.game-board-spent-on-run {
  margin:0;
}

.game-board-saved-on-run {
  float:right;
  margin:0;
}

.game-board-grid-item {
  text-align: center;
}
.game-board-metrics-button {
  background-color: orange;
  float:right;
}
.game-board-delete-button {
  background-color: #990000;
  float:right;

}

.game-board-add-button {
  background-color: green;
  float:right;
}
/****************************************
  GROCERY RUN
***************************************/

.grocery-run-section {
  margin-top: .25em;
  border-radius: 4px;
  border: solid 2px white;
  padding-left:1em;
  padding-right:1em;
  padding-bottom: .5em;
}

.grocery-run-intro {
  border-radius: 4px;
  border: solid 1px;
  padding:.25em;
}

.grocery-run-input-label {
  margin-top:.25em;
  margin-bottom:.25em;
}

.grocery-run-input-date {
  padding-left: 0;
}

.grocery-run-date-select {
  border-radius: 2px;
}

.grocery-run-select-dt-label {
  line-height: 34px;
}

.grocery-run-definitions {
  border-radius: 4px;
  border: solid 1px;
  padding:.25em;
  background-color: #C8CACB;
}

.grocery-run-add-btn {
  float:right;
  background-color: green;  
}
.grocery-run-save-btn {
  margin-top:1em;
  margin-bottom:1em;
  float:right;
  background-color: green;
}

.grocery-run-delete-button {
  background-color: #990000;
  float:right;
}

.grocery-run-cancel-btn {
  margin-top:1em;
  margin-bottom:1em;
}

.grocery-run-grid {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: solid 1px;
  padding-left: .25em;
  padding-right: .25em;
  padding-bottom: 1em;  
}

.grocery-run-grid-noresults {
  text-align: center;
  font-style: italic;
}
/****************************************
  SETTINGS
***************************************/

.settings-section {
  border-radius: 4px;
  border: solid 2px white;
}

.settings-intro {
  border-radius: 4px;
  border: solid 1px;
  padding:.25em;
}

.settings-form {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
}

.settings-form span {
  font-style: italic;
}

.settings-save-btn {
  margin-top:1em;
  margin-bottom:1em;
  float:right;
  background-color: green;
}

.settings-cancel-btn {
  margin-top:1em;
  margin-bottom:1em;
}

.settings-info {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: solid 1px;
  padding-left: .25em;
  padding-right: .25em;
  padding-bottom: 1em;
}

.settings-info h3 {
  margin-top:0px;
}

.settings-info-defaulted {
  font-style: italic;
}

.settings-info-takeout-img {
  float:left;
  border-radius: 4px;
  padding: 0 .5em;
}

.settings-info-earth-img {
  float:right;
  border-radius: 4px;
  padding:.5em;
}

.settings-info-text {
  padding-left: .75em
}

.settings-info-header {
  padding-left: .25em
}


/****************************************
  LOGIN
***************************************/
.login-form {
  width: 50%;
  margin: auto;
  background: gray;
  margin-bottom: 2em;
}

.login-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

.login-heading {
    font-size: 40px;
    line-height: 1em;
    text-align: center;
}

.login-form-inputs {
      padding-left: 2em;
    padding-right: 2em;
}

.login-submit {
    float:right;
}

.login-panel-footer {
  clear: both;
}

/****************************************
  REGISTRATION 
***************************************/
.register-submit {
  margin-bottom: 15px;
  float:right;
}

.registration-intro {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.registration-intro-button {
  float:right;
  margin-bottom: .5em;
}

.input-group .form-control  {
  width:125px;
}

/****************************************
  METRICS 
***************************************/

.player-metrics-section {
  border: solid .5px;
  border-radius: 4px;
  background-color:#A1BFCB;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: .15em;
}

.all-time-save {
  border: solid .5px;
  border-radius: 4px;
  text-align: center;
  background-color: #DAE5FE; /*light purple*/
}

.all-time-grocery-spend {
  border: solid .5px;
  border-radius: 4px;
  text-align: center;
  background-color: #DEA95F;  /*orange*/
}

.player-metrics-section p {
  font-size: 125%;
}

.all-time-profit {
  border:  black solid .5px;
  border-radius: 4px;
  text-align: center;
  background-color: #CADDBF;  /*light green*/
}

.lmg-metrics-section {
  border: solid .5px;
  border-radius: 4px;
  background-color:#FAFDDB;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: .15em;
}

.lmg-metrics-section p {
  font-size: 125%;
}

.metrics-intro-blurb {
  height:50px;
}


